.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding:2.5rem;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 30rem;
    width:25rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s;
    @include respond(tab-port){
        height: 13rem;
        width:50rem !important;
        margin:1.5rem 0;
        margin-right: 0 !important;
        padding:1rem;
        
        
        
    }

    @include respond(tab-land){
       margin-right:1rem !important;
       width:25rem;
        
        
        
    }

    &:not(:last-child){
        margin-right:5rem;
    }

    &-icon{
    fill: url(#MyGradient);
    height:8rem;
    margin-bottom: 5rem;

    @include respond(tab-port){  
        height:5rem;
        margin-bottom: .5rem;

    }


    }

    &:hover{
        transform: scale(1.1) translateY(-3rem);
        @include respond(tab-port){  
           transform: scale(1.1) translateY(0);
    
        }
    }

}